<!-- Scroll to top button -->
<div class="scrolltotop">
	<a class="button-circle button-circle-sm button-circle-dark" href="#"><i class="ti-arrow-up"></i></i></a>
</div>
<!-- end Scroll to top button -->

<!-- Home section -->
<div class="owl-carousel owl-nav-overlay owl-dots-overlay" data-owl-autoplay="true" data-owl-nav="true" data-owl-dots="true" data-owl-items="1">
	<!-- Slider box 1 -->
	<div class="bg-image" style="background-image: url(/assets/back1.jpg)">
		<div class="section-xl bg-black-05">
			<div class="container text-center">
				<!-- <h5 class="font-weight-light margin-bottom-20">New Arrivals For</h5> -->
				<h1>Produits à des prix très compétitifs</h1>
				<%= link_to produits_path, {class: "button button-xl button-reveal-left-outline-white margin-top-20", data: { turbolinks: false }}  do%>
					    <i class="ti-shopping-cart"></i><span>Catalogue</span></a>
				<% end %>
			</div>
		</div>
	</div>
	<!-- Slider box 2 -->
	<div class="bg-image" style="background-image: url(/assets/back2.jpg)">
		<div class="section-xl bg-black-05">
			<div class="container text-center">
<!-- 				<h5 class="font-weight-light margin-bottom-20">New Arrivals For</h5>
 -->				<h1>Une équipe de professionnels à votre service</h1>
	 				<%= link_to produits_path, {class: "button button-xl button-reveal-left-outline-white margin-top-20", data: { turbolinks: false }} do%>
					    <i class="ti-shopping-cart"></i><span>Catalogue</span></a>
					<% end %>
			</div>
		</div>
	</div>
</div><!-- end owl-carousel -->
<!-- end Home section -->

<!-- Products section -->
<div class="section">
	<div class="container">
		<div class="section-title text-center">
			<h3>Nouvel arrivage de moteurs</h3>
		</div>
		<div class="row product-wrapper">
			<% @produits.each do |produit| %>
			<!-- Product box 1 -->
			<div class="col-12 col-md-6 col-lg-3 product">
				<div class="product-img">
					<%=link_to produit_path(produit.id) do %>
						<%= cl_image_tag(produit.image.url(:default)) %>
						<!-- Badge: Sale -->
						<!-- <div class="product-sale">
							<h6 class="heading-uppercase">-20%</h6>
						</div> -->
					<%end%>
					<div class="product-img-hover">
                        <h6 class="heading-uppercase"><%=link_to "Plus de détails", produit_path(produit.id) %></h6>
                    </div>
				</div><!-- end product-img -->
				<div class="product-info">
					<h6><a href="#"><%= produit.type_produit %>&nbsp;<%= produit.etat %>&nbsp;<%= produit.code %></a></h6>
					<%if produit.cylindre.present? or produit.puissance.present? %>
							<h6><a href="#"><%= produit.cylindre %>L / &nbsp;<%= produit.puissance%>CH</a></h6>
					<% end %>
					<!-- Product Category -->
					<ul class="list-horizontal">
						<li><a href="#"><%=Constructeur.find(Modele.find(produit.compatibilites.where(origine: true).first.modele_id).constructeur_id).nom %></a></li>
					</ul>
					<!-- Product Price -->
					<div class="product-price">
						<h6><%= produit.prix %> TND</h6>
					</div>
					<!-- Add to Wishlist button -->
					<!-- <a class="product-wishlist" href="#">
						<i class="far fa-heart"></i>
					</a> -->
					<!-- Product Rating -->
					<!-- <div class="product-rating">
						<span><i class="fas fa-star"></i></span>
						<span><i class="fas fa-star"></i></span>
						<span><i class="fas fa-star"></i></span>
						<span><i class="fas fa-star"></i></span>
						<span><i class="fas fa-star"></i></span>
					</div> -->
				</div><!-- end product-info -->
			</div>
			<% end %>
		</div><!-- end row -->
	</div><!-- end container -->
</div>
<!-- end Products section -->
