<header>
	<nav class="navbar"><!-- add 'navbar-dark/navbar-grey/navbar-transparent/navbar-transparent-dark' -->
		<div class="container">
			<a class="navbar-brand" href="#">
				<h5>Mono</h5>
			</a>
			<ul class="nav"><!-- add 'dropdown-dark/dropdown-grey/dropdown-transparent/dropdown-transparent-dark' -->
				<!-- Basic link -->
				<li class="nav-item">
					<a class="nav-link" href="#">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Contact</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Catalogue</a>
				</li>
			</ul><!-- end nav -->
			<ul class="list-horizontal-unstyled position-center position-lg-right">
				<li>
					<a href="#"><i class="fab fa-facebook-f"></i></a>
				</li>
				<li>
					<a class="search-toggle" href="#"><i class="fas fa-search"></i></a>
				</li>
			</ul>
			<!-- Nav Toggle button -->
			<button class="nav-toggle-btn">
	            <span class="lines"></span>
	        </button><!-- toggle button will show when screen resolution is less than 992px -->
		</div><!-- end container -->
	</nav>
</header>

<!-- Scroll to top button -->
<div class="scrolltotop">
	<a class="button-circle button-circle-sm button-circle-dark" href="#"><i class="ti-arrow-up"></i></i></a>
</div>
<!-- end Scroll to top button -->

<!-- Fullscreen Search Form -->
<div class="search-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 text-center">
				<form class="form-style-5">
					<input class="font-large" type="text" placeholder="Search.." name="search" required>
					<button><i class="fa fa-search"></i></button>
				</form>
			</div>
		</div><!-- end row -->
	</div><!-- end container -->
</div>
<!-- end Fullscreen Search Form -->

<!-- Home section -->
<div class="owl-carousel owl-nav-overlay owl-dots-overlay" data-owl-autoplay="true" data-owl-nav="true" data-owl-dots="true" data-owl-items="1">
	<!-- Slider box 1 -->
	<div class="bg-image" style="background-image: url(/assets/background.jpg)">
		<div class="section-xl bg-black-05">
			<div class="container text-center">
				<h5 class="font-weight-light margin-bottom-20">New Arrivals For</h5>
				<h1>Mens Street Style</h1>
				<a class="button button-xl button-reveal-left-outline-white margin-top-20" href="#"><i class="ti-shopping-cart"></i><span>Shop now</span></a>
			</div>
		</div>
	</div>
	<!-- Slider box 2 -->
	<div class="bg-image" style="background-image: url(/assets/background.jpg)">
		<div class="section-xl bg-black-05">
			<div class="container text-center">
				<h5 class="font-weight-light margin-bottom-20">New Arrivals For</h5>
				<h1>Mens Street Style</h1>
				<a class="button button-xl button-reveal-left-outline-white margin-top-20" href="#"><i class="ti-shopping-cart"></i><span>Shop Now</span></a>
			</div>
		</div>
	</div>
</div><!-- end owl-carousel -->
<!-- end Home section -->

<!-- Products section -->
<div class="section">
	<div class="container">
		<div class="section-title text-center">
			<h3>Featured Products</h3>
		</div>
		<div class="row product-wrapper">
			<!-- Product box 1 -->
			<div class="col-12 col-md-6 col-lg-4 product">
				<div class="product-img">
					<a href="#">
						<%= image_tag("col-3-tall.jpg") %>
						<!-- Badge: Sale -->
						<div class="product-sale">
							<h6 class="heading-uppercase">-20%</h6>
						</div>
						<!-- Badge: New -->
						<div class="product-new">
							<span class="heading-uppercase">New</span>
						</div>
					</a>
					<div class="product-img-hover">
						<h6 class="heading-uppercase"><a href="#">Add to Cart</a></h6>
					</div>
				</div><!-- end product-img -->
				<div class="product-info">
					<h6><a href="#">Product Title</a></h6>
					<!-- Product Category -->
					<ul class="list-horizontal">
						<li><a href="#">Men</a></li>
						<li><a href="#">Clothing</a></li>
					</ul>
					<!-- Product Price -->
					<div class="product-price">
						<h6><span>$29</span>$19</h6>
					</div>
					<!-- Add to Wishlist button -->
					<a class="product-wishlist" href="#">
						<i class="far fa-heart"></i>
					</a>
					<!-- Product Rating -->
					<div class="product-rating">
						<span><i class="fas fa-star"></i></span>
						<span><i class="fas fa-star"></i></span>
						<span><i class="fas fa-star"></i></span>
						<span><i class="fas fa-star"></i></span>
						<span><i class="fas fa-star"></i></span>
					</div>
				</div><!-- end product-info -->
			</div>
			<!-- Product box 2 -->
			<div class="col-12 col-md-6 col-lg-4 product">
				<div class="product-img">
					<a href="#">
						<%= image_tag("col-3-tall.jpg") %>
						<!-- Badge: Sale -->
						<div class="product-sale">
							<h6 class="heading-uppercase">-20%</h6>
						</div>
					</a>
					<div class="product-img-hover">
						<h6 class="heading-uppercase"><a href="#">Add to Cart</a></h6>
					</div>
				</div><!-- end product-img -->
				<div class="product-info">
					<h6><a href="#">Product Title</a></h6>
					<!-- Product Category -->
					<ul class="list-horizontal">
						<li><a href="#">Men</a></li>
						<li><a href="#">Clothing</a></li>
					</ul>
					<!-- Product Price -->
					<div class="product-price">
						<h6>$19</h6>
					</div>
					<!-- Add to Wishlist button -->
					<a class="product-wishlist" href="#">
						<i class="far fa-heart"></i>
					</a>
					<!-- Product Rating -->
					<div class="product-rating">
						<span><i class="fas fa-star"></i></span>
						<span><i class="fas fa-star"></i></span>
						<span><i class="fas fa-star"></i></span>
						<span><i class="fas fa-star"></i></span>
						<span><i class="far fa-star"></i></span>
					</div>
				</div><!-- end product-info -->
			</div>
			<!-- Product box 3 -->
			<div class="col-12 col-md-6 col-lg-4 product">
				<div class="product-img">
					<a href="#">
						<%= image_tag("col-3-tall.jpg") %>
						<!-- Badge: Sale -->
						<div class="product-sale">
							<h6 class="heading-uppercase">-20%</h6>
						</div>
						<!-- Badge: New -->
						<div class="product-new">
							<span class="heading-uppercase">New</span>
						</div>
					</a>
					<div class="product-img-hover">
						<h6 class="heading-uppercase"><a href="#">Add to Cart</a></h6>
					</div>
				</div><!-- end product-img -->
				<div class="product-info">
					<h6><a href="#">Product Title</a></h6>
					<!-- Product Category -->
					<ul class="list-horizontal">
						<li><a href="#">Men</a></li>
						<li><a href="#">Clothing</a></li>
					</ul>
					<!-- Product Price -->
					<div class="product-price">
						<h6>$19</h6>
					</div>
					<!-- Add to Wishlist button -->
					<a class="product-wishlist" href="#">
						<i class="far fa-heart"></i>
					</a>
					<!-- Product Rating -->
					<div class="product-rating">
						<span><i class="fas fa-star"></i></span>
						<span><i class="fas fa-star"></i></span>
						<span><i class="fas fa-star"></i></span>
						<span><i class="fas fa-star"></i></span>
						<span><i class="far fa-star"></i></span>
					</div>
				</div><!-- end product-info -->
			</div>
			<!-- Product box 4 -->
			<div class="col-12 col-md-6 col-lg-4 product">
				<div class="product-img">
					<a href="#">
						<%= image_tag("col-3-tall.jpg") %>
						<!-- Badge: Sale -->
						<div class="product-sale">
							<h6 class="heading-uppercase">-20%</h6>
						</div>
					</a>
					<div class="product-img-hover">
						<h6 class="heading-uppercase"><a href="#">Add to Cart</a></h6>
					</div>
				</div><!-- end product-img -->
				<div class="product-info">
					<h6><a href="#">Product Title</a></h6>
					<!-- Product Category -->
					<ul class="list-horizontal">
						<li><a href="#">Men</a></li>
						<li><a href="#">Clothing</a></li>
					</ul>
					<!-- Product Price -->
					<div class="product-price">
						<h6>$19</h6>
					</div>
					<!-- Add to Wishlist button -->
					<a class="product-wishlist" href="#">
						<i class="far fa-heart"></i>
					</a>
					<!-- Product Rating -->
					<div class="product-rating">
						<span><i class="fas fa-star"></i></span>
						<span><i class="fas fa-star"></i></span>
						<span><i class="fas fa-star"></i></span>
						<span><i class="fas fa-star"></i></span>
						<span><i class="far fa-star"></i></span>
					</div>
				</div><!-- end product-info -->
			</div>
			<!-- Product box 5 -->
			<div class="col-12 col-md-6 col-lg-4 product">
				<div class="product-img">
					<a href="#">
						<%= image_tag("col-3-tall.jpg") %>
						<!-- Badge: Sale -->
						<div class="product-sale">
							<h6 class="heading-uppercase">-20%</h6>
						</div>
					</a>
					<div class="product-img-hover">
						<h6 class="heading-uppercase"><a href="#">Add to Cart</a></h6>
					</div>
				</div><!-- end product-img -->
				<div class="product-info">
					<h6><a href="#">Product Title</a></h6>
					<!-- Product Category -->
					<ul class="list-horizontal">
						<li><a href="#">Men</a></li>
						<li><a href="#">Clothing</a></li>
					</ul>
					<!-- Product Price -->
					<div class="product-price">
						<h6><span>$29</span>$19</h6>
					</div>
					<!-- Add to Wishlist button -->
					<a class="product-wishlist" href="#">
						<i class="far fa-heart"></i>
					</a>
					<!-- Product Rating -->
					<div class="product-rating">
						<span><i class="fas fa-star"></i></span>
						<span><i class="fas fa-star"></i></span>
						<span><i class="fas fa-star"></i></span>
						<span><i class="fas fa-star"></i></span>
						<span><i class="far fa-star"></i></span>
					</div>
				</div><!-- end product-info -->
			</div>
			<!-- Product box 6 -->
			<div class="col-12 col-md-6 col-lg-4 product">
				<div class="product-img">
					<a href="#">
						<%= image_tag("col-3-tall.jpg") %>
						<!-- Badge: Sale -->
						<div class="product-sale">
							<h6 class="heading-uppercase">-20%</h6>
						</div>
					</a>
					<div class="product-img-hover">
						<h6 class="heading-uppercase"><a href="#">Add to Cart</a></h6>
					</div>
				</div><!-- end product-img -->
				<div class="product-info">
					<h6><a href="#">Product Title</a></h6>
					<!-- Product Category -->
					<ul class="list-horizontal">
						<li><a href="#">Men</a></li>
						<li><a href="#">Clothing</a></li>
					</ul>
					<!-- Product Price -->
					<div class="product-price">
						<h6>$19</h6>
					</div>
					<!-- Add to Wishlist button -->
					<a class="product-wishlist" href="#">
						<i class="far fa-heart"></i>
					</a>
					<!-- Product Rating -->
					<div class="product-rating">
						<span><i class="fas fa-star"></i></span>
						<span><i class="fas fa-star"></i></span>
						<span><i class="fas fa-star"></i></span>
						<span><i class="fas fa-star"></i></span>
						<span><i class="fas fa-star"></i></span>
					</div>
				</div><!-- end product-info -->
			</div>
		</div><!-- end row -->
	</div><!-- end container -->
</div>
<!-- end Products section -->

<!-- section -->
<div class="section-lg bg-image parallax" style="background-image: url(/assets/background.jpg)">
	<div class="bg-black-06">
		<div class="container text-right">
			<h1 class="font-weight-thin">New arrivals are here</h1>
			<a class="button button-xl button-fill-right-outline-white margin-top-30" href="#">Shop Now</a>
		</div><!-- end container -->
	</div>
</div>
<!-- end section -->

<!-- Product Categories -->
<div class="section">
	<div class="container">
		<div class="section-title text-center">
			<h3>Browse Our Categories</h3>
		</div>
		<div class="owl-carousel" data-owl-nav="true" data-owl-dots="false" data-owl-margin="30" data-owl-xs="1" data-owl-sm="2" data-owl-md="2" data-owl-lg="2" data-owl-xl="2">
			<!-- Product Category Slider box 1 -->
			<div class="hoverbox-8">
				<a href="#">
					<%= image_tag("col-2.jpg") %>
					<div class="content">
						<h6 class="heading-uppercase no-margin">Category</h6>
					</div>
				</a>
			</div>
			<!-- Product Category Slider box 2 -->
			<div class="hoverbox-8">
				<a href="#">
					<%= image_tag("col-2.jpg") %>
					<div class="content">
						<h6 class="heading-uppercase no-margin">Category</h6>
					</div>
				</a>
			</div>
			<!-- Product Category Slider box 3 -->
			<div class="hoverbox-8">
				<a href="#">
					<%= image_tag("col-2.jpg") %>
					<div class="content">
						<h6 class="heading-uppercase no-margin">Category</h6>
					</div>
				</a>
			</div>
			<!-- Product Category Slider box 4 -->
			<div class="hoverbox-8">
				<a href="#">
					<%= image_tag("col-2.jpg") %>
					<div class="content">
						<h6 class="heading-uppercase no-margin">Category</h6>
					</div>
				</a>
			</div>
		</div><!-- end owl-carousel -->
	</div><!-- end container -->
</div>
<!-- end Product Categories -->

<!-- Products list -->
<div class="section no-padding-top">
	<div class="container">
		<div class="row">
			<!-- Products list box 1 -->
			<div class="col-12 col-lg-4">
				<div class="product-list">
					<h6 class="heading-uppercase">Newest</h6>
					<ul>
						<li>
							<div class="product-list-img">
								<a href="#">
									<%= image_tag("img-circle-small.jpg") %>
								</a>
							</div>
							<div class="product-list-info">
								<h6 class="font-weight-normal"><a href="#">Product Title</a></h6>
								<div class="product-price">
									<h6>$19</h6>
								</div>
							</div>
						</li>
						<li>
							<div class="product-list-img">
								<a href="#">
									<%= image_tag("img-circle-small.jpg") %>
								</a>
							</div>
							<div class="product-list-info">
								<h6 class="font-weight-normal"><a href="#">Product Title</a></h6>
								<div class="product-price">
									<h6>$19</h6>
								</div>
							</div>
						</li>
						<li>
							<div class="product-list-img">
								<a href="#">
									<%= image_tag("img-circle-small.jpg") %>
								</a>
							</div>
							<div class="product-list-info">
								<h6 class="font-weight-normal"><a href="#">Product Title</a></h6>
								<div class="product-price">
									<h6>$19</h6>
								</div>
							</div>
						</li>
					</ul>
				</div><!-- end product-list -->
			</div><!-- end col -->
			<!-- Products list box 2 -->
			<div class="col-12 col-lg-4">
				<div class="product-list">
					<h6 class="heading-uppercase">Best Selling</h6>
					<ul>
						<li>
							<div class="product-list-img">
								<a href="#">
									<%= image_tag("img-circle-small.jpg") %>
								</a>
							</div>
							<div class="product-list-info">
								<h6 class="font-weight-normal"><a href="#">Product Title</a></h6>
								<div class="product-price">
									<h6><span>$29</span>$19</h6>
								</div>
							</div>
						</li>
						<li>
							<div class="product-list-img">
								<a href="#">
									<%= image_tag("img-circle-small.jpg") %>
								</a>
							</div>
							<div class="product-list-info">
								<h6 class="font-weight-normal"><a href="#">Product Title</a></h6>
								<div class="product-price">
									<h6>$19</h6>
								</div>
							</div>
						</li>
						<li>
							<div class="product-list-img">
								<a href="#">
									<%= image_tag("img-circle-small.jpg") %>
								</a>
							</div>
							<div class="product-list-info">
								<h6 class="font-weight-normal"><a href="#">Product Title</a></h6>
								<div class="product-price">
									<h6><span>$29</span>$19</h6>
								</div>
							</div>
						</li>
					</ul>
				</div><!-- end product-list -->
			</div><!-- end col -->
			<!-- Products list box 3 -->
			<div class="col-12 col-lg-4">
				<div class="product-list">
					<h6 class="heading-uppercase">Top Rated</h6>
					<ul>
						<li>
							<div class="product-list-img">
								<a href="#">
									<%= image_tag("img-circle-small.jpg") %>
								</a>
							</div>
							<div class="product-list-info">
								<h6 class="font-weight-normal"><a href="#">Product Title</a></h6>
								<!-- Product Price -->
								<div class="product-price">
									<h6>$19</h6>
								</div>
								<!-- Product Rating -->
								<div class="product-rating">
									<span><i class="fas fa-star"></i></span>
									<span><i class="fas fa-star"></i></span>
									<span><i class="fas fa-star"></i></span>
									<span><i class="fas fa-star"></i></span>
									<span><i class="fas fa-star"></i></span>
								</div>
							</div>
						</li>
						<li>
							<div class="product-list-img">
								<a href="#">
									<%= image_tag("img-circle-small.jpg") %>
								</a>
							</div>
							<div class="product-list-info">
								<h6 class="font-weight-normal"><a href="#">Product Title</a></h6>
								<!-- Product Price -->
								<div class="product-price">
									<h6>$19</h6>
								</div>
								<!-- Product Rating -->
								<div class="product-rating">
									<span><i class="fas fa-star"></i></span>
									<span><i class="fas fa-star"></i></span>
									<span><i class="fas fa-star"></i></span>
									<span><i class="fas fa-star"></i></span>
									<span><i class="fas fa-star"></i></span>
								</div>
							</div>
						</li>
						<li>
							<div class="product-list-img">
								<a href="#">
									<%= image_tag("img-circle-small.jpg") %>
								</a>
							</div>
							<div class="product-list-info">
								<h6 class="font-weight-normal"><a href="#">Product Title</a></h6>
								<!-- Product Price -->
								<div class="product-price">
									<h6>$19</h6>
								</div>
								<!-- Product Rating -->
								<div class="product-rating">
									<span><i class="fas fa-star"></i></span>
									<span><i class="fas fa-star"></i></span>
									<span><i class="fas fa-star"></i></span>
									<span><i class="fas fa-star"></i></span>
									<span><i class="far fa-star"></i></span>
								</div>
							</div>
						</li>
					</ul>
				</div><!-- end product-list -->
			</div><!-- end col -->
		</div><!-- end row -->
	</div><!-- end container -->
</div>
<!-- end Products list -->

<footer>
	<div class="footer bg-dark-lighter">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-6 col-lg-3">
					<h3 class="no-margin">Mono</h3>
				</div>
				<div class="col-12 col-md-6 col-lg-3">
					<h6 class="heading-uppercase">Useful Links</h6>
					<ul class="list-dash">
						<li><a href="#">About us</a></li>
						<li><a href="#">Team</a></li>
						<li><a href="#">Prices</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</div>
				<div class="col-12 col-md-6 col-lg-3">
					<h6 class="heading-uppercase">Additional Links</h6>
					<ul class="list-dash">
						<li><a href="#">Clients</a></li>
						<li><a href="#">Process</a></li>
						<li><a href="#">FAQ</a></li>
						<li><a href="#">Careers</a></li>
					</ul>
				</div>
				<div class="col-12 col-md-6 col-lg-3">
					<h6 class="heading-uppercase">Contact Info</h6>
					<ul class="list-unstyled">
						<li>121 King St, Melbourne VIC 3000</li>
						<li>example@email.com</li>
						<li>+(123) 456 789 01</li>
					</ul>
				</div>
			</div><!-- end row -->
		</div><!-- end container -->
	</div><!-- end footer -->
	<div class="footer-bottom bg-dark">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-6 text-center text-md-left">
					<p>&copy; 2018 FlaTheme, All Rights Reserved.</p>
				</div>
				<div class="col-12 col-md-6 text-center text-md-right">
					<ul class="list-horizontal-unstyled">
						<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="#"><i class="fab fa-twitter"></i></a></li>
						<li><a href="#"><i class="fab fa-pinterest"></i></a></li>
						<li><a href="#"><i class="fab fa-instagram"></i></a></li>
					</ul>
				</div>
			</div><!-- end row -->
		</div><!-- end container -->
	</div><!-- end footer-bottom -->
</footer>


