<!-- Scroll to top button -->
<div class="scrolltotop">
	<a class="button-circle button-circle-sm button-circle-dark" href="#"><i class="ti-arrow-up"></i></i></a>
</div>
<!-- end Scroll to top button -->

<!-- Home section -->
<div class="owl-carousel owl-nav-overlay owl-dots-overlay" data-owl-autoplay="true" data-owl-nav="true" data-owl-dots="true" data-owl-items="1">
	<!-- Slider box 1 -->
	<div class="bg-image" style="background-image: url(/assets/back1.jpg)">
		<div class="section-xl bg-black-05">
			<div class="container text-center">
				<!-- <h5 class="font-weight-light margin-bottom-20">New Arrivals For</h5> -->
				<h1>Produits à des prix très compétitifs</h1>
				<a class="button button-xl button-reveal-left-outline-white margin-top-20" href="#"><i class="ti-shopping-cart"></i><span>Catalogue</span></a>
			</div>
		</div>
	</div>
	<!-- Slider box 2 -->
	<div class="bg-image" style="background-image: url(/assets/back2.jpg)">
		<div class="section-xl bg-black-05">
			<div class="container text-center">
<!-- 				<h5 class="font-weight-light margin-bottom-20">New Arrivals For</h5>
 -->				<h1>Une équipe de professionnels à votre service</h1>
				<a class="button button-xl button-reveal-left-outline-white margin-top-20" href="#"><i class="ti-shopping-cart"></i><span>Catalogue</span></a>
			</div>
		</div>
	</div>
</div><!-- end owl-carousel -->
<!-- end Home section -->

<!-- Products section -->
<div class="section">
	<div class="container">
		<div class="section-title text-center">
			<h3>Nouvel arrivage de moteurs</h3>
		</div>
		<div class="row product-wrapper">
			<% @produits.each do |produit| %>    
			<!-- Product box 1 -->
			<div class="col-12 col-md-6 col-lg-3 product">
				<div class="product-img">
					<a href="#">
						<%= cl_image_tag(produit.image.url(:default)) %>
						<!-- Badge: Sale -->
						<!-- <div class="product-sale">
							<h6 class="heading-uppercase">-20%</h6>
						</div> -->
					</a>
					<div class="product-img-hover">
						<h6 class="heading-uppercase"><a href="#">Plus de détails</a></h6>
					</div>
				</div><!-- end product-img -->
				<div class="product-info">
					<h6><a href="#"><%= produit.titre %></a></h6>
					<!-- Product Category -->
					<ul class="list-horizontal">
						<li><a href="#"><%= produit.titre %></a></li>
						<li><a href="#"><%= produit.cylindre %> L / <%= produit.puissance %> ch</a></li>
					</ul>
					<!-- Product Price -->
					<div class="product-price">
						<h6><%= produit.prix %>TND</h6>
					</div>
					<!-- Add to Wishlist button -->
					<!-- <a class="product-wishlist" href="#">
						<i class="far fa-heart"></i>
					</a> -->
					<!-- Product Rating -->
					<!-- <div class="product-rating">
						<span><i class="fas fa-star"></i></span>
						<span><i class="fas fa-star"></i></span>
						<span><i class="fas fa-star"></i></span>
						<span><i class="fas fa-star"></i></span>
						<span><i class="fas fa-star"></i></span>
					</div> -->
				</div><!-- end product-info -->
			</div>
			<% end %>
		</div><!-- end row -->
	</div><!-- end container -->
</div>
<!-- end Products section -->

