<!-- Products section -->
<div class="section">
	<div class="container">
		<div class="row">
			<!-- Products -->
			<div class="col-12 col-lg-9">
				<div class="row align-items-center">
					<div class="col-6">
						<h6 class="heading-uppercase no-margin">Showing 1-9 out of 36</h6>
					</div>
					<!-- <div class="col-6 text-right">
						<div>
							<select class="custom-select">
								<option selected>Sort by Newness</option>
								<option value="1">Sort by Popularity</option>
								<option value="1">Sort by Rating</option>
								<option value="2">Sort by Price: high to low</option>
								<option value="3">Sort by Price: low to high</option>
							</select>
						</div>
					</div> -->
				</div>
				<div class="row product-wrapper margin-top-50">
					<!-- Product box 1 -->
					<div class="col-12 col-md-6 col-lg-4 product">
						<div class="product-img">
							<a href="#">
								<%= image_tag("moteur.jpg") %>
							</a>
							<div class="product-img-hover">
								<h6 class="heading-uppercase"><a href="#">Plus de détails</a></h6>
							</div>
						</div><!-- end product-img -->
						<div class="product-info">
							<h6><a href="#">Moteur d’occasion M47D20 115CH</a></h6>
							<!-- Product Category -->
							<ul class="list-horizontal">
								<li><a href="#">BMW</a></li>
								<li><a href="#">2.0 L / 115 ch</a></li>
							</ul>
							<!-- Product Price -->
							<div class="product-price">
								<h6>500TND</h6>
							</div>
						</div><!-- end product-info -->
					</div>

					<div class="col-12 col-md-6 col-lg-4 product">
						<div class="product-img">
							<a href="#">
								<%= image_tag("moteur.jpg") %>
							</a>
							<div class="product-img-hover">
								<h6 class="heading-uppercase"><a href="#">Plus de détails</a></h6>
							</div>
						</div><!-- end product-img -->
						<div class="product-info">
							<h6><a href="#">Moteur d’occasion M47D20 115CH</a></h6>
							<!-- Product Category -->
							<ul class="list-horizontal">
								<li><a href="#">BMW</a></li>
								<li><a href="#">2.0 L / 115 ch</a></li>
							</ul>
							<!-- Product Price -->
							<div class="product-price">
								<h6>500TND</h6>
							</div>
						</div><!-- end product-info -->
					</div>

					<div class="col-12 col-md-6 col-lg-4 product">
						<div class="product-img">
							<a href="#">
								<%= image_tag("moteur.jpg") %>
							</a>
							<div class="product-img-hover">
								<h6 class="heading-uppercase"><a href="#">Plus de détails</a></h6>
							</div>
						</div><!-- end product-img -->
						<div class="product-info">
							<h6><a href="#">Moteur d’occasion M47D20 115CH</a></h6>
							<!-- Product Category -->
							<ul class="list-horizontal">
								<li><a href="#">BMW</a></li>
								<li><a href="#">2.0 L / 115 ch</a></li>
							</ul>
							<!-- Product Price -->
							<div class="product-price">
								<h6>500TND</h6>
							</div>
						</div><!-- end product-info -->
					</div>

					<div class="col-12 col-md-6 col-lg-4 product">
						<div class="product-img">
							<a href="#">
								<%= image_tag("moteur.jpg") %>
							</a>
							<div class="product-img-hover">
								<h6 class="heading-uppercase"><a href="#">Plus de détails</a></h6>
							</div>
						</div><!-- end product-img -->
						<div class="product-info">
							<h6><a href="#">Moteur d’occasion M47D20 115CH</a></h6>
							<!-- Product Category -->
							<ul class="list-horizontal">
								<li><a href="#">BMW</a></li>
								<li><a href="#">2.0 L / 115 ch</a></li>
							</ul>
							<!-- Product Price -->
							<div class="product-price">
								<h6>500TND</h6>
							</div>
						</div><!-- end product-info -->
					</div>

					<div class="col-12 col-md-6 col-lg-4 product">
						<div class="product-img">
							<a href="#">
								<%= image_tag("moteur.jpg") %>
							</a>
							<div class="product-img-hover">
								<h6 class="heading-uppercase"><a href="#">Plus de détails</a></h6>
							</div>
						</div><!-- end product-img -->
						<div class="product-info">
							<h6><a href="#">Moteur d’occasion M47D20 115CH</a></h6>
							<!-- Product Category -->
							<ul class="list-horizontal">
								<li><a href="#">BMW</a></li>
								<li><a href="#">2.0 L / 115 ch</a></li>
							</ul>
							<!-- Product Price -->
							<div class="product-price">
								<h6>500TND</h6>
							</div>
						</div><!-- end product-info -->
					</div>

					<div class="col-12 col-md-6 col-lg-4 product">
						<div class="product-img">
							<a href="#">
								<%= image_tag("moteur.jpg") %>
							</a>
							<div class="product-img-hover">
								<h6 class="heading-uppercase"><a href="#">Plus de détails</a></h6>
							</div>
						</div><!-- end product-img -->
						<div class="product-info">
							<h6><a href="#">Moteur d’occasion M47D20 115CH</a></h6>
							<!-- Product Category -->
							<ul class="list-horizontal">
								<li><a href="#">BMW</a></li>
								<li><a href="#">2.0 L / 115 ch</a></li>
							</ul>
							<!-- Product Price -->
							<div class="product-price">
								<h6>500TND</h6>
							</div>
						</div><!-- end product-info -->
					</div>


					
				</div><!-- end row(inner) -->
				<!-- Pagination -->
				<nav>
					<ul class="pagination justify-content-center margin-top-70">
						<li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
						<li class="page-item active"><a class="page-link" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
					</ul>
				</nav>
			</div>
			<!-- Sidebar -->
			<div class="col-12 col-lg-3 shop-sidebar">
				<!-- Sidebar box 1 - Category -->
				<div class="shop-sidebar-box">
					<h5 class="font-weight-light margin-bottom-20">Constructeur</h5>
					<ul class="shop-sidebar-category">
						<li><a href="#">Merceded <span>25</span></a></li>
						<li><a href="#">BMW <span>16</span></a></li>
						<li><a href="#">Volkswagen <span>30</span></a></li>
						<li><a href="#">Volvo <span>14</span></a></li>
						<li><a href="#">Honda <span>11</span></a></li>
						<li><a href="#">Peugeot <span>18</span></a></li>
						<li><a href="#">Renault <span>36</span></a></li>
						<li><a href="#">Isuzu <span>12</span></a></li>
					</ul>
				</div>
			</div>
		</div><!-- end row -->
	</div><!-- end container -->
</div>
<!-- end Products section -->