<!-- Products section -->
<div class="section">
  <div class="container">
    <div class="row">
      <!-- Products -->
      <div class="col-12 col-lg-9">
        <div class="row align-items-center">
          <div class="col-6">
            <h6 class="heading-uppercase no-margin">Affichage <%= @produits.current_page * 6 - 5 %>-<%= @all.count >  @produits.current_page * 6 ? @produits.current_page * 6 : @all.count %> sur <%= @all.count %></h6>
          </div>
          <!-- <div class="col-6 text-right">
            <div>
              <select class="custom-select">
                <option selected>Sort by Newness</option>
                <option value="1">Sort by Popularity</option>
                <option value="1">Sort by Rating</option>
                <option value="2">Sort by Price: high to low</option>
                <option value="3">Sort by Price: low to high</option>
              </select>
            </div>
          </div> -->
        </div>
        <div class="row product-wrapper margin-top-50">
            <% @produits.each do |produit| %>
                <!-- Product box -->
                <div class="col-12 col-md-6 col-lg-4 product">
                    <div class="product-img">
                        <%=link_to produit_path(produit.id), data: { turbolinks: false } do %>
                            <%= cl_image_tag(produit.image.url(:default)) %>
                        <% end %>
                        <div class="product-img-hover">
                            <h6 class="heading-uppercase"><%=link_to "Plus de détails", produit_path(produit.id, data: { turbolinks: false }) %></h6>
                        </div>
                    </div><!-- end product-img -->
                    <div class="product-info">
                        <h6><a href="#"><%= produit.titre %></a></h6>
                        <!-- Product Category -->
                        <ul class="list-horizontal">
                            <li><a href="#"><%= Constructeur.find(produit.compatibilites.where(origine: true).first.modele_id).nom %></a></li>
                            <li><a href="#"><%= produit.cylindre %> L / <%= produit.puissance %> ch</a></li>
                        </ul>
                        <!-- Product Price -->
                        <div class="product-price">
                            <h6><%= produit.prix %>TND</h6>
                        </div>
                    </div><!-- end product-info -->
                </div>      
            <% end %>          
        </div><!-- end row(inner) -->
        <!-- Pagination -->
        <nav>
          <%= @produits.current_page%>
          <div class="pagination justify-content-center margin-top-70">
            <%= paginate @produits %>
          </div>
        </nav>
      </div>
      <!-- Sidebar -->
      <div class="col-12 col-lg-3 shop-sidebar">
        <!-- Sidebar box 1 - Category -->
        <div class="shop-sidebar-box">
          <h5 class="font-weight-light margin-bottom-20">Constructeur</h5>
          <ul class="shop-sidebar-category">
            <% @constructeurs.each do |constructeur| %>
                <li><%= link_to produits_path(query: constructeur.nom), data: { turbolinks: false } do %>
                        <%= constructeur.nom %>
                        <span><%= Produit.search(constructeur.nom,fields: [:titre]).total_count %></span>
                    <% end %>
                </li>
            <% end %>
          </ul>
        </div>
        <!-- Sidebar box 2 - Category -->
        <div class="shop-sidebar-box">
          <h5 class="font-weight-light margin-bottom-20">Pièces de rechange</h5>
          <ul class="shop-sidebar-category">
            <li><%= link_to produits_path(query: "Moteur"), data: { turbolinks: false } do %>
                    Moteur
                    <span><%= Produit.where(type_produit: "Moteur").count %></span>
                <% end %>
            </li>
            <li><%= link_to produits_path(query: "Tableau de bord"), data: { turbolinks: false } do %>
                    Tableau de bord
                    <span><%= Produit.where(type_produit: "Tableau de bord").count %></span>
                <% end %>
            </li>
            <li><%= link_to produits_path(query: "Pare-brise"), data: { turbolinks: false } do %>
                    Pare-brise
                    <span><%= Produit.where(type_produit: "Pare-brise").count %></span>
                <% end %>
            </li>
            <li><%= link_to produits_path(query: "Phares"), data: { turbolinks: false } do %>
                    Phares
                    <span><%= Produit.where(type_produit: "Phares").count %></span>
                <% end %>
            </li>
            <li><%= link_to produits_path(query: "Suspension"), data: { turbolinks: false } do %>
                    Suspension
                    <span><%= Produit.where(type_produit: "Suspension").count %></span>
                <% end %>
            </li>
            <li><%= link_to produits_path(query: "kit d'embrayage"), data: { turbolinks: false } do %>
                    kit d'embrayage
                    <span><%= Produit.where(type_produit: "kit d'embrayage").count %></span>
                <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div><!-- end row -->
  </div><!-- end container -->
</div>
<!-- end Products section -->
