<%= form_with(model: modele, local: true) do |form| %>
  <% if modele.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(modele.errors.count, "error") %> prohibited this modele from being saved:</h2>

      <ul>
      <% modele.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nom %>
    <%= form.text_field :nom %>
  </div>

  <div class="field">
    <%= form.label :annee %>
    <%= form.text_field :annee %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
