<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @modele.nom %>
</p>

<p>
  <strong>Annee:</strong>
  <%= @modele.annee %>
</p>

<%= link_to 'Edit', edit_modele_path(@modele) %> |
<%= link_to 'Back', modeles_path %>
