<%= form_with(model: constructeur, local: true) do |form| %>
  <% if constructeur.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(constructeur.errors.count, "error") %> prohibited this constructeur from being saved:</h2>

      <ul>
      <% constructeur.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nom %>
    <%= form.text_field :nom %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
