<header>
	<nav class="navbar border-bottom"><!-- add 'navbar-dark/navbar-grey/navbar-transparent/navbar-transparent-dark' -->
		<div class="container">
			<%= link_to root_path, class: "navbar-brand", data: { turbolinks: false } do %>
                <h5>German Motors</h5>
           	<% end %>
			<ul class="nav"><!-- add 'dropdown-dark/dropdown-grey/dropdown-transparent/dropdown-transparent-dark' -->
				<!-- Basic link -->
				<li class="nav-item">
					<%= link_to "Accueil", root_path, data: { turbolinks: false }, class: "nav-link" %>
				</li>
				<li class="nav-item">
					<%= link_to "Contact", static_pages_contact_path, data: { turbolinks: false }, class: "nav-link" %>
				</li>
				<li class="nav-item">
					<%= link_to "Catalogue", static_pages_products_path, data: { turbolinks: false }, class: "nav-link" %>
				</li>
				<ul class="navbar-nav ml-auto">
					<% if user_signed_in? %>
						<li class="nav-item">
							<%= link_to('Logout', destroy_user_session_path, method: :delete, class: "nav-link") %>
						</li>
					<% else %>
						<li class="nav-item">
						<%= link_to('Login', new_user_session_path, class: "nav-link") %>
						</li>
					<% end %>
				</ul>
			</ul><!-- end nav -->
			<ul class="list-horizontal-unstyled position-center position-lg-right">
				<li>
					<a href="https://www.facebook.com/german.motors.Hammamet/"><i class="fab fa-facebook-f"></i></a>
				</li>
				<li>
					<a class="search-toggle" href="#"><i class="fas fa-search"></i></a>
				</li>
			</ul>

			<!-- Nav Toggle button -->
			<button class="nav-toggle-btn">
	            <span class="lines"></span>
	        </button><!-- toggle button will show when screen resolution is less than 992px -->
		</div><!-- end container -->
	</nav>
</header>