<!DOCTYPE html>
<html>
  <head>
    <title>Germanmotors</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- For smooth scrolling -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous">
    </script>

  </head>

  <body data-preloader="2">

    <%= render "/layouts/header" %>
    <% if notice %>
      <p id="notice-wrapper" class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p id="notice-wrapper" class="alert alert-warning"><%= alert %></p>
    <% end %>
    
    <%= yield %>

    <%= render "/layouts/footer" %>
  
  </body>
  <script type="text/javascript">
    $(".alert" ).fadeOut(8000);
  </script>
</html>
